    <table>
    	<caption>Description of Mail Headers</caption>
    	<thead>
    		<tr>
    			<th>Email Headers</th>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
    			<td>Date</td>
    			<td>Message date and time</td>
    		</tr>
    		<tr>
    			<td>From</td>
    			<td>Mailbox of message author</td>
    		</tr>
    		<tr>
    			<td>Sender</td>
    			<td>Mailbox of message sender</td>
    		</tr>
    		<tr>
    			<td>Reply-To</td>
    			<td>Mailbox for replies to message</td>
    		</tr>
    		<tr>
    			<td>To</td>
    			<td>Primary recipient mailbox</td>
    		</tr>
    		<tr>
    			<td>Cc</td>
    			<td>Carbon-copy recipient mailbox</td>
    		</tr>
    		<tr>
    			<td>Bcc</td>
    			<td>Blind-carbon-copy recipient mailbox</td>
    		</tr>
    		<tr>
    			<td>Message-ID</td>
    			<td>Message identifier</td>
    		</tr>
    		<tr>
    			<td>In-Reply-To</td>
    			<td>Identify replied-to message(s)</td>
    		</tr>
    		<tr>
    			<td>References</td>
    			<td>Related message identifier(s)</td>
    		</tr>
    		<tr>
    			<td>Subject</td>
    			<td>Topic of message</td>
    		</tr>
    		<tr>
    			<td>Comments</td>
    			<td>Additional comments about the message</td>
    		</tr>
    		<tr>
    			<td>Keywords</td>
    			<td>Message key words and/or phrases</td>
    		</tr>
    		<tr>
    			<td>Resent-Date</td>
    			<td>Date and time message is resent</td>
    		</tr>
    		<tr>
    			<td>Resent-From</td>
    			<td>Mailbox of person for whom message is resent</td>
    		</tr>
    		<tr>
    			<td>Resent-Sender</td>
    			<td>Mailbox of person who actually resends the message</td>
    		</tr>
    		<tr>
    			<td>Resent-To</td>
    			<td>Mailbox to which message is resent</td>
    		</tr>
    		<tr>
    			<td>Resent-Cc</td>
    			<td>Mailbox(es) to which message is cc'ed on resend</td>
    		</tr>
    		<tr>
    			<td>Resent-Bcc</td>
    			<td>Mailbox(es) to which message is bcc'ed on resend</td>
    		</tr>
    		<tr>
    			<td>Resent-Reply-To</td>
    			<td>Resent reply-to</td>
    		</tr>
    		<tr>
    			<td>Resent-Message-ID</td>
    			<td>Message identifier for resent message</td>
    		</tr>
    		<tr>
    			<td>Return-Path</td>
    			<td>Message return path</td>
    		</tr>
    		<tr>
    			<td>Received</td>
    			<td>transfer trace information</td>
    		</tr>
    		<tr>
    			<td>Encrypted</td>
    			<td>Message encryption information</td>
    		</tr>
    		<tr>
    			<td>Disposition-Notification-To</td>
    			<td>Mailbox for sending disposition notification</td>
    		</tr>
    		<tr>
    			<td>Disposition-Notification-Options</td>
    			<td>Disposition notification options</td>
    		</tr>
    		<tr>
    			<td>Accept-Language</td>
    			<td>Language(s) for auto-responses</td>
    		</tr>
    		<tr>
    			<td>Original-Message-ID</td>
    			<td>Original message identifier</td>
    		</tr>
    		<tr>
    			<td>PICS-Label</td>
    			<td>PICS rating label</td>
    		</tr>
    		<tr>
    			<td>Encoding</td>
    			<td>Message encoding and other information</td>
    		</tr>
    		<tr>
    			<td></td>
    			<td></td>
    		</tr>
    		<tr>
    			<td></td>
    			<td></td>
    		</tr>
    		<tr>
    			<td></td>
    			<td></td>
    		</tr>
    		<tr>
    			<td></td>
    			<td></td>
    		</tr>
    		<tr>
    			<td></td>
    			<td></td>
    		</tr>
    		<tr>
    			<td></td>
    			<td></td>
    		</tr>
    		<tr>
    			<td></td>
    			<td></td>
    		</tr>
    		<tr>
    			<td></td>
    			<td></td>
    		</tr>
    		<tr>
    			<td></td>
    			<td></td>
    		</tr>
    		<tr>
    			<td></td>
    			<td></td>
    		</tr>
    	</tbody>
    </table>    

    
    
    
    
    List-Archive        				URL of mailing list archive
    List-Help           				URL for mailing list information
    List-ID             				Mailing list identifier
    List-Owner          				URL for mailing list owner's
    mailbox
    List-Post           				URL for mailing list posting
    List-Subscribe      				URL for mailing list subscription
    List-Unsubscribe    				URL for mailing list
    unsubscription
    Message-Context     				Type or context of message
    DL-Expansion-History
    Trace of distribution lists passed
    Alternate-Recipient 				Controls forwarding to alternate
    recipients
    Original-Encoded-Information-Types
    Body part types in message
    Content-Return            		Return content on non-delivery?
    Generate-Delivery-Report
    Request delivery report generation
    Prevent-NonDelivery-Report
    Non-delivery report required?
    Obsoletes                 		Reference message to be replaced
    Supersedes                		Reference message to be replaced
    Content-Identifier        		Message content identifier
    Delivery-Date             		Message delivery time
    Expiry-Date               		Message expiry time
    Expires                   		Message expiry time
    Reply-By                  		Time by which a reply is requested
    Importance                		Message importance
    Incomplete-Copy           		Body parts are missing
    Priority                  		Message priority
    Sensitivity               		Message content sensitivity
    Language                  		X.400 message content language
    Conversion                		Conversion allowed?
    Conversion-With-Loss
    Lossy conversion allowed?
    Message-Type              		Message type: delivery report?
    Autosubmitted             		Automatically submitted indicator
    Autoforwarded             		Automatically forwarded indicator
    Discarded-X400-IPMS-Extensions
    X.400 IPM extensions discarded
    Discarded-X400-MTS-Extensions
    X.400 MTS extensions discarded
    Disclose-Recipients 	      		Disclose names of other
    recipients?
    Deferred-Delivery   	      		Deferred delivery information
    Latest-Delivery-Time
    Latest delivery time requested
    Originator-Return-Address
    Originator return address
    X400-Content-Identifier
    Message content identifier
    X400-Content-Return       		Return content on non-delivery?
    X400-Content-Type         		X400 content type
    X400-MTS-Identifier       		X400 MTS-Identifier
    X400-Originator           		X400 Originator
    X400-Received             		X400 Received
    X400-Recipients           		X400 Recipients
    X400-Trace                		X400 Trace
