<div class="hero-unit">
  <h1>Email Parser</h1>
  <p>Choose which email parer you would like to use.</p>
  <p>
<%= link_to"Attachment",  new_attachment_path, { class: "btn btn-primary btn-large"}  %>
<%= link_to"Plain Text",  new_text_path, { class: "btn btn-primary btn-large"}  %>
  </p>
</div>